{% extends 'base.html.twig' %}


{% block body %}

  {% form_theme form 'bootstrap_4_layout.html.twig' %}



   {{ form_start(form) }}


    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password) }}
    {{ form_row(form.confirm_password) }}

    <button type="submit" class="btn btn-success">
     Inscription
 </button>
    {{ form_end(form) }}



{% endblock %}

